<h1>Additional1#view1</h1>
<p>Find me in app/views/additional1/view1.html.erb</p>
<p><%= @sum %>
<p><%= @conctat %>
<p><%= @timein1hour %>
<% for file in @files %>
	file name is <ul> - <%= file %> </ul>
<% end %>
